$baby-blue: #5951cc;
$blue: #1100ff;

.main{
    background-image: url("../images/world.png");
    height: 150vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    .box{
        width: 30%;
        height: 31%;
        border: 1px solid #ccc;
    border-radius: 4px;
        background-color: transparent;
        position: absolute;
        top: 29%;
        left: 50%;
        right: 0;
        bottom: 0;
        transform: translate(-50%,-50%);
        text-align: center;
        .title{
            height: 30%;
            font-size: 24px;
            text-align: left;
            padding-top: 3%;
            padding-left: 3%;
            background-color: #a6352d;
            color: #fff;
        }
        textarea{
            font-size: 22px;
            resize: none;
            overflow: hidden;
            min-height: 55px;
            max-height: 80px;
            background: transparent;
            min-width: 90%;
            border: none;
            outline: none;
            
        }
        .btn{
            position: absolute;
            right: 73%;
            top: 153px;
            font-size: 11px;
            background-color: #a6352d;
            color: #fff;
            
        }
    }
    .track-trace{
        width: 30%;
        position: absolute;
        top: 73%;
        left: 50%;
        right: 0;
        bottom: 0;
        transform: translate(-50%,-50%);
        
    }
}


.navbar{
    height: 12vh;
    background-color: #a6352d!important;

    .images{
        width: 4%;
        margin-left: 3%;
    }
}
.juv{
    background-color: #a6352d;
    height: 100vh;
    .hi{
        padding-top: 18%;
        font-size: 80px;
        color: #fff;
    }
}